<!DOCTYPE html>
    <html>
        <body>
            <header class="header">
            <div class="header-left"></div>
            <div class="header-right"></div>
            </header>
         
    <main>
        <div class="main-contents">
          <div class="main-width">
            <p class="main-image">
    
    
            </p>
          </div>
        </div>

    </main>  
         <footer>
            <div class="footer-width">
            <div class="footer-title">おすすめのエリア</div>
            <a href="http://localhost:3000/posts?room=%E6%9D%B1%E4%BA%AC&commit=%E6%A4%9C%E7%B4%A2"class="area-photo"> <img src="assets/ダウンロード (3).jpeg"><span>東京</span></a>
            <a href="http://localhost:3000/posts?room=%E4%BA%AC%E9%83%BD&commit=%E6%A4%9C%E7%B4%A2"class="area-photo"> <img src="assets/ダウンロード (4).jpeg"><span>京都</span></a>
            <a href="http://localhost:3000/posts?room=%E5%A4%A7%E9%98%AA&commit=%E6%A4%9C%E7%B4%A2"class="area-photo"> <img src="assets/ダウンロード (5).jpeg"><span>大阪</span></a>
            <a href="http://localhost:3000/posts?room=%E6%9C%AD%E5%B9%8C&commit=%E6%A4%9C%E7%B4%A2"class="area-photo"> <img src="assets/images.jpeg"><span>札幌</span></a>
            </div>
            <div class="footer"> <h3></h3></div>
           
         </footer>
     
         

        </body>
     </html>