<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
        <div class="login-container">
        <div class="login-width">
        <div class="login-form">
          <p>メールアドレス</p>
          <input id="email" name="email"value="<%= @email %>">
        
          <p>パスワード</p>
          <input id="password"type="password" name="password">
          <p></p>
          <input id="submit"type="submit" value="ログイン">
          </div>
        <% end %>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>