a img {
    border-radius: 50%;
    margin-left:80px;
    margin-top:50px;
}
a img:hover {
  opacity: 0.6;
}

a span {
    font-weight: 400;
    opacity: 0.7;
    color: papayawhip;
    position: relative;
    right:165px;
    bottom:30px;
    font-size:30px;
}

.main-width {
    background-image: url("/assets/sky_00165.jpg");
  width:100%;
  background-size: cover;
    height:500px; 
}

.footer-title {
    font-size:40px;
    padding-top:40px;
    color:powderblue;
    font-weight: 400;
}







